@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 24 60% 100%;
      --foreground: 24 73% 1%;
      --muted: 24 32% 86%;
      --muted-foreground: 24 3% 32%;
      --popover: 24 60% 100%;
      --popover-foreground: 24 73% 1%;
      --card: 0 0% 99%;
      --card-foreground: 0 0% 0%;
      --border: 24 10% 94%;
      --input: 24 10% 94%;
      --primary: 24 6% 27%;
      --primary-foreground: 24 6% 87%;
      --secondary: 24 2% 91%;
      --secondary-foreground: 24 2% 31%;
      --accent: 24 2% 91%;
      --accent-foreground: 24 2% 31%;
      --destructive: 19 86% 29%;
      --destructive-foreground: 19 86% 89%;
      --ring: 24 6% 27%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 24 44% 2%;
      --foreground: 24 31% 97%;
      --muted: 0 32% 14%;
      --muted-foreground: 0 3% 68%;
      --popover: 24 44% 2%;
      --popover-foreground: 24 31% 97%;
      --card: 24 44% 3%;
      --card-foreground: 24 31% 98%;
      --border: 24 10% 12%;
      --input: 24 10% 12%;
      --primary: 24 6% 27%;
      --primary-foreground: 24 6% 87%;
      --secondary: 0 0% 19%;
      --secondary-foreground: 0 0% 79%;
      --accent: 0 0% 19%;
      --accent-foreground: 0 0% 79%;
      --destructive: 19 86% 60%;
      --destructive-foreground: 19 86% 0%;
      --ring: 24 6% 27%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }